[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-dotenv = "*"
passlib = "*"
tox = "*"
gunicorn = "*"
Flask = "*"
Flask-RESTful = "*"
Flask-Migrate = "*"
Flask-JWT-Extended = "*"
ws4py = "*"

[requires]
python_version = "3.8"
